*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Shared Style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    background-color: #469165;
    border: 0;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: #2f8f5b;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.section-title p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;

}

/* header style */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #fff;
}

#header .logo img{
    height: 60px;
    object-fit: contain;
}

#header .menu {
    display: flex;
    /* gap: 32px; */
}

#header .menu li{
    list-style: none;
    padding: 8px 16px;
}

#header .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    transition: 0.2s ease-in-out;
}

#header .menu li a:hover {
    color: #469165;
}


/* Hero section style  */
#hero{
    padding: 70px 20px 134px;
    border: 1px solid green;
    background: url(../images/hero-bg.png);
    text-align: center;
    color: #fff;
}

#hero .notice{
    display: inline-flex;
    gap: 18px;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    font-weight: 500;
    font-size: 16px;
}
.circle {
  width: 6px;
  height: 6px;
  background: #2f8f5b;
  border-radius: 50%;
  box-shadow:
    0 0 0 6px rgba(47, 143, 91, 0.2),
    0 0 0 6px rgba(47, 143, 91, 0.1);
    margin-left: 6px;
}

#hero .banner-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

#hero .hero-description {
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

#hero .btn-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

#hero .btn-container .btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.2s ease-in-out;
}

#hero .btn-container .btn-transparent:hover {
    background-color: #469165;
    border-color: #469165;
}

/* Features Style */
#feature-section {
    padding: 50px 20px;
    text-align: center;
}

#feature-section .features {
    display: flex;
    gap: 24px;
}

#feature-section .features .feature{
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

#feature-section .features .feature img {
    background-color: #F95555;
    padding: 16px;
    border-radius: 50%;
    margin-bottom: 16px;
    height: 60px;
    width: 60px;
}

#feature-section .features .feature h4 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

#feature-section .features .feature p {
    color: #627382;
    line-height: 20px;
}

/* How it works style */
#how-it-works {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 120px 20px;
}

.solution-content {
    max-width: 450px;
    /* padding-right:  */
}
#how-it-works .section-label {
    color: #469165;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

#how-it-works .section-features {
    list-style: none;
}
#how-it-works .section-features li {
    color: #001931;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
#how-it-works .section-features .list-icon i {
    color: #30B868;
    margin-right: 6px;
}

/* Call To Action Style */
#cta {
    text-align: center;
    padding: 0 20px 120px;
}

#cta .cta-container {
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
}

#cta .cta-container p {
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}

/* Footer Style */

footer {
    background-color: #001931;
    padding: 120px 20px 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb1c;
    padding-bottom: 80px;
}

.footer-top .social-links {
    color: #fff;
}

.footer-top .social-links p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-top .social-links i {
    background-color: #fff;
    color: #001931;
    border-radius: 50%;
    /* padding: 5px; */
    line-height: 20px;
    margin: auto 5px;
}

.footer-copyright {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    line-height: 24px;
}