*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    background-color: #469165;
    border: 0;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* header style */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #fff;
}

#header .logo img{
    height: 60px;
    object-fit: contain;
}

#header .menu {
    display: flex;
    /* gap: 32px; */
}

#header .menu li{
    list-style: none;
    padding: 8px 16px;
}

#header .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    transition: 0.2s ease-in-out;
}

#header .menu li a:hover {
    color: #469165;
}


/* Hero section style  */
#hero{
    padding: 70px 20px 134px;
    border: 1px solid green;
    background: url(../images/hero-bg.png);
    text-align: center;
    color: #fff;
}

#hero .notice{
    display: inline-flex;
    gap: 18px;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    font-weight: 500;
    font-size: 16px;
}
.circle {
  width: 6px;
  height: 6px;
  background: #2f8f5b;
  border-radius: 50%;
  box-shadow:
    0 0 0 6px rgba(47, 143, 91, 0.2),
    0 0 0 6px rgba(47, 143, 91, 0.1);
    margin-left: 6px;
}

#hero .banner-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}

#hero .hero-description {
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

#hero .btn-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

#hero .btn-container .btn-transparent {
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.2s ease-in-out;
}

#hero .btn-container .btn-transparent:hover {
    background-color: #469165;
    border-color: #469165;
}